/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 .icon-block {
 	padding: 0 15px;
 }
 .icon-block .material-icons {
 	font-size: inherit;
 }

 header, main, footer {
 	padding-left: 300px;
 }

 @media only screen and (max-width : 992px) {
 	header, main, footer {
 		padding-left: 0;
 	}

 	.dc-name {
 		width: 85%!important;
 	}
 }

 html, body {
 	margin:0;
 	padding: 0;
 	/*font-size: 16px;*/
 	color: white;
 	overflow: hidden;
 }

 html {
 	font-family: 'Open Sans', sans-serif;
 }

 body {
 	background: #1d1c22;
 }

 .primary-color {
 	background: #25252f!important;
 }

 .button-collapse {
 	position: absolute;
 	margin: 15px;
 	top: 0;
 	left: 0;
 }

 .vertical-align {
 	display:inline-flex;
	flex-direction: column;
	justify-content: center;
 	height: 100vh;
 	width: 100%;
 }

 .hidden {
 	display: none;
 }

 .dc-name {
 	position: absolute;
 	top:0;
 	width: calc(0.7 * (100% - 300px));
 }