/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 .icon-block {
 	padding: 0 15px;
 }
 .icon-block .material-icons {
 	font-size: inherit;
 }

 header, main, footer {
 	padding-left: 300px;
 }

 @media only screen and (max-width : 992px) {
 	header, main, footer {
 		padding-left: 0;
 	}

 	.dc-name {
 		width: 85%!important;
 	}
 }

 html, body {
 	margin:0;
 	padding: 0;
 	/*font-size: 16px;*/
 	color: white;
 	overflow: hidden;
 }

 html {
 	font-family: 'Open Sans', sans-serif;
 }

 body {
 	background: #1d1c22;
 }

 input:not([type]):disabled, input:not([type])[readonly="readonly"], input[type=text]:disabled, input[type=text][readonly="readonly"], input[type=password]:disabled, input[type=password][readonly="readonly"], input[type=email]:disabled, input[type=email][readonly="readonly"], input[type=url]:disabled, input[type=url][readonly="readonly"], input[type=time]:disabled, input[type=time][readonly="readonly"], input[type=date]:disabled, input[type=date][readonly="readonly"], input[type=datetime]:disabled, input[type=datetime][readonly="readonly"], input[type=datetime-local]:disabled, input[type=datetime-local][readonly="readonly"], input[type=tel]:disabled, input[type=tel][readonly="readonly"], input[type=number]:disabled, input[type=number][readonly="readonly"], input[type=search]:disabled, input[type=search][readonly="readonly"], textarea.materialize-textarea:disabled, textarea.materialize-textarea[readonly="readonly"] {
    color: rgba(255, 255, 255, 0.75);
    border-bottom: 1px dotted rgba(255, 255, 255, 0.75);
}

input:not([type]):disabled + label, input:not([type])[readonly="readonly"] + label, input[type=text]:disabled + label, input[type=text][readonly="readonly"] + label, input[type=password]:disabled + label, input[type=password][readonly="readonly"] + label, input[type=email]:disabled + label, input[type=email][readonly="readonly"] + label, input[type=url]:disabled + label, input[type=url][readonly="readonly"] + label, input[type=time]:disabled + label, input[type=time][readonly="readonly"] + label, input[type=date]:disabled + label, input[type=date][readonly="readonly"] + label, input[type=datetime]:disabled + label, input[type=datetime][readonly="readonly"] + label, input[type=datetime-local]:disabled + label, input[type=datetime-local][readonly="readonly"] + label, input[type=tel]:disabled + label, input[type=tel][readonly="readonly"] + label, input[type=number]:disabled + label, input[type=number][readonly="readonly"] + label, input[type=search]:disabled + label, input[type=search][readonly="readonly"] + label, textarea.materialize-textarea:disabled + label, textarea.materialize-textarea[readonly="readonly"] + label {
    color: rgba(255, 255, 255, 0.75);
}

 .primary-color {
 	background: #25252f!important;
 }

 .button-collapse {
 	position: absolute;
 	margin: 15px;
 	top: 0;
 	left: 0;
 }

 .vertical-align {
 	display:inline-flex;
	flex-direction: column;
	justify-content: center;
 	height: 100vh;
 	width: 100%;
 }

 .hidden {
 	display: none;
 }

 .dc-name {
 	position: absolute;
 	top:0;
 	width: calc(0.7 * (100% - 300px));
 }